
@{
    ViewData["Title"] = "Game";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <!--Game-->
    <div class="row d-flex justify-content-center align-items-center">
        <div class="game">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <canvas id="game" width="600" height="400"></canvas>
                        <script src="~/areas/assets/js/game.js"></script>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</div>
