@model Gender
@{
    ViewData["Title"] = "UpdateGender";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Update Gender</h4>

                    <form asp-area="admin" asp-controller="product" asp-action="UpdateGender" method="post" class="forms-sample">
                        @*<div class="text-danger" asp-validation-summary="All"></div>*@
                        <div class="form-group">
                            <label asp-for="@Model.Name" for="uptitle">Name</label>
                            <input asp-for="@Model.Name" type="text" class="form-control" id="uptitle" placeholder="Name">
                            <span class="text-danger" asp-validation-for="@Model.Name"></span>
                            <input type="hidden" asp-for="@Model.Id" />
                        </div>


                        <button type="submit" class="btn btn-success mr-2">Update</button>
                        <button asp-area="admin" asp-controller="product" asp-action="Genders" class="btn btn-light">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


